/* Main Site */
* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
  height: 300px;
}

.status {
  text-align: center;
}

.player-box {
  width: 200px;
  margin: 0 auto;
}

.main {
  margin-top: 25px;
}

.row {
  margin: 0;
}

/*CHAT BOX*/

.jumbotron {
  padding: 0;
}

.messages {
  text-align: left;
  padding: 10px;
  margin: 0;
  height: 525px;
  overflow: scroll;
}

.conversation {
  height: 600px;
  overflow: scroll;
  margin: 30px auto;
  border-radius: 10px;
  position: relative;
}

.conversation input {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 96%;
  padding: 5px;
}

/* Jumbotron */
.jumbotron{
    text-align: center;
    color: #334046;
}

/* Spinner -http://tobiasahlin.com/spinkit/-*/
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
